html {
    cursor:auto;

}
.resizable {
    background: white;
    position: absolute;
    box-sizing: border-box;
}

.resizable .resizers {
    width: 100%;
    height: 100%;
    border: 3px solid #4286f4;
    box-sizing: border-box;
}

.resizable .resizer {
    width: 10px;
    height: 10px;
    border-radius: 50%; /*magic to turn square into circle*/
    background: white;
    border: 3px solid #4286f4;
    position: absolute;
}

.resizable .resizer.top-left {
    left: -5px;
    top: -5px;
    cursor: nwse-resize; /*resizer cursor*/
}

.resizable .resizer.top-right {
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}

.resizable .resizer.bottom-left {
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
}

.resizable .resizer.bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}

.drag {
    background-color: rgba(255,255,255,.25);
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    border-radius: 8px;
    padding: 20px;
    touch-action: none;
    /*width: 120px;*/
    /* This makes things *much* easier */
    box-sizing: border-box;
    border-color: rgba(255,255,255,.5);
    border-width: 4px;
    border-style: groove;
    position:absolute;
}

.drag:hover {
    border-color: white;
    border-width: 4px;
    border-style: groove;
}
.currentmodulemeta{
    position:absolute;
    background-color:rgba(0,0,0,0);
    height:12pt;
    width:100%;
    top:1px;
    left:0px;
}
/*
    div {
    border-color: white;
    border-width: 1px;
    border-style:solid;
}
    */

.glass {
    /* background styles */
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    background-color: yellow; /*for compatibility with older browsers*/
    background-image: linear-gradient(yellow,white);
    /* text styles */
    text-decoration: none;
    color: #123;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 100;

    border-radius: 3px;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
}

.glass:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.glass:hover {
    background: linear-gradient(orange,white);
}
